*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
}

.imgcanvas{
    width: 100vw;
    height: 100vh;
    border-radius: 16px;
    background-color: rgb(221, 221, 221);
    background-position: center;
    background-size: cover;
}